@import url("../assets/fonts/Montserrat-Alt1.css");

//colors
$primary-light: #A5B4BB;
$primary-dark: #8E9E9E;
$background-light: #EDF0F1;

//fonts
$font: 'Josefin Sans';
$font-title: "Montserrat-Alt1", sans-serif;
$default-weight: 300;

//sizes
$mobile: 575px;
$tablet: 770px;
$desktop: 990px;